body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 5px;
  background-color: #d5deeb;
}

button {
  font-weight: 550;
}


@media (min-width: 651px) {
  #app-wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
  }

  #settings-wrapper {
    margin-right: 10px;
    padding: 18px;
  }

  #sec-col-wrapper { /*includes sound buttons and QuizUI */
    margin-left: 10px;
    padding: 15px;
  }

  .settings-label {
    font-size: 18px;
  }

  #type-selection {
    font-size: 18px;
  }

  #amount-selection {
    font-size: 18px;
  }

  .checkbox {
    font-size: 18px;
  }

  #sound-button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .chord-button {
    height: 40px;
    width: 90px;
    border: 1px solid #2e2e2e;
    background-color: mediumaquamarine;
  }

  .sound-button {
    height: 40px;
    width: 125px;
    border: 1px solid #2e2e2e;
    font-size: 14px;
  }

  .possible-chords { /*chord names themselves */
    margin: 10px;
  }

  #stop {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 650px) {
  #app-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
  }

  #settings-wrapper {
    margin-right: 8px;
    padding: 18px;
  }

  #sec-col-wrapper { /*includes sound buttons and QuizUI */
    margin-left: 8px;
    padding: 12px;
  }

  .settings-label {
    font-size: 14px;
  }

  #type-selection {
    font-size: 14px;
  }

  #amount-selection {
    font-size: 14px;
  }

  .checkbox {
    font-size: 14px;
  }

  #sound-button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .chord-button {
    height: 25px;
    width: 60px;
    font-size: 10px
  }
  .sound-button {
    height: 30px;
    width: 80px;
    font-size: 10px;
  }

  #stop {
    margin-left: 8px;
    margin-right: 8px;
  }

  #possible-chords-header {
    font-size: 14px;
  }

  #possible-chord-names { /*div containing chord names */
    font-size: 12px;
  }

  .possible-chords { /*chord names themselves */
    margin: 10px;
  }

  #title {
    font-size: 16px;
  }
  #by-line {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  #app-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
  }

  #settings-wrapper {
    margin-right: 3px;
  }

  #sec-col-wrapper { /*includes sound buttons and QuizUI */
    margin-left: 3px;
    padding: 9px;
  }

  .settings-label {
    font-size: 12px;
  }

  #type-selection {
    font-size: 12px;
  }

  #amount-selection {
    font-size: 12px;
  }

  .checkbox {
    font-size: 12px;
  }

  .chord-button {
    height: 23px;
    width: 57px;
    font-size: 10px
  }
  .sound-button {
    height: 30px;
    width: 70px;
    font-size: 9px;
  }

  #stop {
    margin-left: 3px;
    margin-right: 3px;
  }

  #possible-chords-header {
    font-size: 11px;
  }

  #possible-chord-names {
    font-size: 9px;
  }

  #title {
    font-size: 14px;
  }
  #by-line {
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  #app-wrapper {
    display: grid;
    grid-template-columns: 5px auto auto 5px;
  }

  #title {
    font-size: 13px;
  }

  #stop {
    margin: 0px;
  }

  #settings-wrapper {
    width: 150px;
    padding: 7px;
  }

  #sec-col-wrapper {
    width: 150px;
  }

  #possible-chords-header {
    font-size: 10px;
  }

  .possible-chords {
    margin: 2px;
    font-size: 8px;
  }

  .chord-button {
    width: 46px;
  }
  .sound-button {
    width: 55px;
    font-size: 8px;
  }

  .checkbox {
    font-size: 10px;
  }
}

#header {
  grid-column: 2 / 4;
  width: 50%;
  justify-self: center;
  margin-bottom: 25px;
}

#header-wrapper {
  border: 1px solid black;
  background-color: #addbba;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#title {
  font-weight: 560;
}

.headers {
  font-size: 20px;
  text-align: center;
  font-weight: 510;
  margin: 10px;
}

#personal-website {
  text-decoration: none;
  color: black;
}

#personal-website:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

#settings-wrapper {
  grid-column: 2;
  justify-self: right;
  border: 1px solid black;
  background-color: #f2f2f2;
}

#mode-key {
  margin-top: 10px;
}

#allowed-header {
  margin-bottom: 7px;
}

#allowed-selections {
  display: flex;
  flex-direction: row;
}

#allowed-wrapper {
  margin-bottom: 12px;
}

#sec-col-wrapper { /*includes sound buttons and QuizUI */
  grid-column: 3;
  justify-self: left;
  border: 1px solid black;
  background-color: #f2f2f2;
}

#play {
  background-color: #0ead20;
}
#play:hover {
  background-color: #5cbd5b;
}

#get-new-chords {
  background-color: #4976e6;
}
#get-new-chords:hover {
  background-color: #6b9fe8;
}

#stop {
  background-color: red;
}
#stop:hover {
  background-color: #ff4f4f;
}

#possible-chords-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #edf5ee;
  border: 1px solid black;
  margin-top: 8px;
}

#possible-chords-header {
  grid-row: 1;
  justify-self: center;
}

#possible-chord-names { /*div that wraps chord names only */
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-self: center;
}

#given-one-chord {
  color: black;
}

.chord-button:hover:not(#given-one-chord):not(.correct):not(.incorrect) { /*not pretty, but works - styling applies only to unclicked buttons and not first chord, change color on hover */
  background-color: #94e3c8;
}

#quiz-buttons {
   /* children of this div are the rows of quiz buttons */
}

.button-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.unanswered {
  background-color: mediumaquamarine;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

/*mobile view, expand content divs to take up 90% height */
/*@media (max-width: 525px) {
  #settings-wrapper {
    height: 90%;
  }
  #sec-col-wrapper {
    height: 90%;
  }
}*/
